
body {
    color: #333333;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
}

header {
    position: relative;
    background-image: url(images/calanques-5.jpg);
    background-size: cover;
    background-position: center;
    height: 45vh;
    color: #ffffff;
    padding: 120px 100px 100px 120px;
}

header p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 60px;
    color: white;
}

a {
    scroll-behavior: smooth;
}

header a {
    padding: 16px 24px;
    background-color: #64C9D1;
    color: #ffffff;
    scroll-behavior: smooth;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s;
}

header a:hover {
    opacity: 90%;
    padding-right: 32px;
}

p {
    font-size: 18px;
    margin-bottom: 45px;
    color: rgb(165, 165, 165);
}

h1 {
    font-size: 50px;
    font-family: 'Lora', serif;
}

h2 {
    font-size: 32px;
    font-family: 'Lora', serif;
    color: #55C5CE;
}

h3 {
    font-size: 28px;
    font-family: 'Lora', serif;
    color: #55C5CE;
    margin: 0px;
}

.critere-section {
    display: flex;
    margin-top: 60px;
    margin-bottom: 80px;
}

.critere-section img {
    margin: auto 0px;
    height: 25vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    align-items: center;
}

.critere-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 33vw;
    margin: auto 0px auto 60px;
}

.bouton {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s;
    margin-top: 24px;
    background-color: #FF9185;
    padding : 16px 24px;
}

.bouton:hover {
    opacity: 70%;
    padding-right: 32px;
}

.critere-description p {
    margin-bottom: 10px;
}

.critere-description a {
    text-decoration: none;
    color: white;
}

.critere-section h3 {
    margin-bottom: 10px;
}


#duree-section {
    padding: 40px 125px 40px 40px;
    width: 81%;
    background-color: #EBFBFD;
    margin-left: 7.6vw;
    border-radius: 15px 0px 0px 15px;
}

#duree {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto 140px auto 0px;
}

#duree a {
    text-decoration: none;
    color: white;
}

#duree p {
    margin-bottom: 10px;
}


.blog-section {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.blog-card {
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.blog-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.blog-card img {
    width: 26vw;
    height: 30vh;
}

.blog-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

footer {
    padding: 50px 100px;
    text-align: center;
    background-color: #55C5CE;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 80px;
}

footer h2 {
    color: white;
}

footer li {
    list-style: none;
}

.blog {
    padding: 10px 0px;
    margin: 40px 8%;
}

#difficulte {
    background-color: #EEFCFD;
    padding: 40px 40px 40px 120px;
    width: 80%;
    border-radius: 0px 15px 15px 0px;
}

#paysage {
    background-color: #EEFCFD;
    padding: 40px 40px 40px 8%;
    width: 80%;
    border-radius: 0px 15px 15px 0px;
}

#title-section {
    padding: 60px 120px 0px 120px;
    text-align: center;
}

#socials {
    display: flex;
    justify-content: center;
}

#socials img {
    height: 5vh;
    margin: auto 5px;
}

.blog-description a {
    text-decoration: none;
    color: #FF9185;
    font-weight: 500;
}

.typeform-widget {
    margin: 40px auto;
}

#gallerie {
    margin: 80px 4px 80px 9%;
}

.gallerie-grid {
    display: flex;
    flex-wrap: wrap;
}

.gallerie-grid img {
    width: 17%;
    height: auto;
    margin: 0.6%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.gallerie-grid img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#newsletter h2 {
    text-align: center;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }

    #paysage {
        padding: 40px 40px 40px 8%;
    }

    #duree-section {
        padding: 40px 8% 40px 40px;
    }

    #duree {
        margin: auto 100px auto 0px;
    }

    #difficulte {
        padding: 40px 40px 40px 8%;
    }

    .bouton {
        margin-top: 20px;
        padding : 12px 20px;
    }

    .blog-card img {
        height: 22vh;
    }


    .blog-description {
        padding: 15px;
    }

    .blog-description p {
        margin-bottom: 30px;
    }

    #socials img {
        height: 4vh;
    }
}

@media (max-width: 780px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }

    #paysage {
        padding: 30px 30px 30px 8%;
    }

    #duree-section {
        padding: 30px 8% 30px 30px;
    }

    #duree {
        margin: auto 80px auto 0px;
    }

    #difficulte {
        padding: 30px 30px 30px 8%;
    }

    .blog-card img {
        height: 13vh;
    }

    .blog-description {
        padding: 10px;
    }

    .blog-description p {
        margin-bottom: 20px;
    }

    #socials img {
        height: 3vh;
    }
}

@media (max-width: 620px) {
    h1 {
        font-size: 40px;
    }

    header p {
        font-size: 20px;
    }

    header {
        height: 35vh;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    #paysage {
        padding: 20px 20px 20px 8%;
    }

    #duree-section {
        padding: 20px 8% 20px 20px;
    }

    #duree {
        margin: auto 60px auto 0px;
    }

    #difficulte {
        padding: 20px 20px 20px 8%;
    }

    .blog-card img {
        height: 10vh;
    }

    .blog-description {
        padding: 10px;
    }

    .blog-description p {
        margin-bottom: 20px;
    }

    #socials img {
        height: 3vh;
    }

}

@media (max-width: 425px) {
    header {
        padding: 100px 50px 60px 50px;
        height: 60vh;
    }

    #title-section {
        padding: 30px 60px 0px 60px;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .critere-section {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .critere-section h3 {
        text-align: center;
    }

    .critere-section img {
        margin: auto 0px;
        height: 25vh;
        align-items: center;
    }
    
    .critere-description {
        width: 80vw;
        margin: 15px auto;
    }

    #duree-section {
        margin: 20px;
        border-radius: 15px;
    }
    
    #duree {
        width: 80vw;
        margin: 15px auto;
    }

    #duree-section img {
        order: -1;
        margin: auto 0px;
        height: 25vh;
        align-items: center;
    }

    #paysage {
        margin: 20px;
        border-radius: 15px;
    }

    #difficulte {
        margin: 20px;
        border-radius: 15px;
    }

    .blog-section {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
   }

   .blog-card img {
    width: 100%;
    height: 30vh;
    }

    .gallerie-grid img {
        width: 40%;
        height: auto;
    }

    .gallerie-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #gallerie {
        margin: 5px auto;
    }
}

@media (max-width: 375px) {
    .blog-card img {
        width: 100%;
        height: 25vh;
    }

    #gallerie {
        margin: 5px 0px;
    }

    header p {
        font-size: 18px;
    }
}
